/upm-client-jdk/
/upm-client-it/node
/upm-client-it/node_modules
.idea/$CACHE_FILE$
.idea/.gitignore
.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml

upm-client-api/target/
upm-client-api/upm-client-api.iml
upm-client-common/target/
upm-client-common/upm-client-common.iml
upm-client-it/node/
upm-client-it/node_modules/
upm-client-it/package-lock.json
upm-client-it/target/
upm-client-it/upm-client-it.iml
upm-client-jaxrs/target/
upm-client-jaxrs/upm-client-jaxrs.iml
upm-client.iml
