.idea/$CACHE_FILE$
.idea/.gitignore
.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml

/upm-client-jdk/
target/
node/
node_modules/
upm-client-api/upm-client-api.iml
upm-client-common/upm-client-common.iml
upm-client-it/package-lock.json
upm-client-it/upm-client-it.iml
upm-client-jaxrs/upm-client-jaxrs.iml
upm-client.iml
local/

